html
    head
        include ../partials/headlinks.pug
        title Review by #{review.username}
    body 
        include ../partials/navbar.pug
        div#reviews
            h1 Review
            div#moviereviews
                p #[a(href="/user/" + review.username) <strong>#{review.username}</strong>] scored #[a(href="/movies/" + review.mID) <strong>#{review.Title}</strong>] a #{review.rating}/10
                if review.summary != ""
                    p "#{review.summary}"
                if review.description != ""
                    p <strong>Full Review: </strong>
                    p #{review.description}